body {
  width: 100%;
  margin: 0 auto;
  padding: auto;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
}

#header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 0 px;
}

.header {
  display: flex;
  align-items: center;
}

a {
  padding: 40px 25px 40px 25px;
}

.icon {
  padding: 41px 10px 41px 24px;
}
img {
  padding: 22px 160px 22px 0;
}

.icons {
  padding-left: 100px;
}

h1 {
  font-size: 48px;
  width: 505px;
  height: 192px;
}

span {
  color: rgb(198, 22, 22);
}

p {
  width: 520px;
  height: 58px;
  font-size: 20px;
}

button {
  width: 161px;
  height: 53px;
  background: #ee4248;
  color: rgb(228, 235, 241);
  border: none;
  border-radius: 4px;
}
.section_first {
  width: 1280px;
  display: flex;
  padding-top: 110px;
  justify-content: space-between;
  padding-top: 162px;
}

.img_one {
  width: 562.97px;
  height: 381.61px;
  padding: 0px;
}

#section_third {
  background: #f7f7f7;
  margin-top: 162px;
}

.section_third {
  display: flex;
  width: 1280px;
  justify-content: space-around;
}

.pana2 {
  width: 452px;
  height: 472;
  padding: 0px;
}

.section_third h1 {
  width: 454px;
  height: 86px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 57px;
}

.section_third p {
  width: 520px;
  height: 130px;
}

.title_four {
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  text-align: center;
  color: #1f2e35;
  margin-left: 350px;
  margin-top: 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.card h1 {
  width: 145px;
  height: 37px;
  left: 24px;
  top: 139px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 133.69%;
  color: #ee4248;
}

.card img {
  width: 100px;
  height: 100px;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
  width: 319px;
  height: 108px;
  left: 24px;
  top: 191px;
}

#section_five {
  margin-top: 150px;
  margin-left: 80px;
}

.besh_bir {
  width: 259px;
  height: 21px;
  left: 1px;
  top: 94px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #263238;
}

.besh_eki {
  width: 317px;
  height: 54px;
  left: 1px;
  top: 123px;
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

.besh_uch h2 {
  width: 85px;
  height: 28px;
  left: 365px;
  top: 51px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #263238;
}

.besh_uch p {
  width: 269px;
  height: 81px;
  left: 365px;
  top: 94px;
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

.section_five {
  display: flex;
}

#footer {
  background-color: #27643e;
  padding-top: 2px;
}

.footerr {
  width: 382px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f2eded;
  margin-left: 350px;
}
